<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deafio Final</title>
</head>
<body>
    <h3>Previsão Diabetes</h3>
    <div>
        <form action="/result" method="post">
            <label for="gest">Número de Gestações</label>
            <input type="text" id="gest" name="gest">
            <br>
            <label for="glic">Concentração de Glicose</label>
            <input type="text" id="glic" name="glic">
            <br>
            <label for="pres">Pressão Diastólica</label>
            <input type="text" id="pres" name="pres"> (mm Hg)
            <br>
            <label for="espe">Espessura da Dobra Cutânea do Tríceps</label>
            <input type="text" id="espe" name="espe"> (mm)
            <br>
            <label for="insu">Nível de Insulina</label>
            <input type="text" id="insu" name="insu"> (mu U/ml)
            <br>
            <label for="mass">Índice de Massa Corporal</label>
            <input type="text" id="mass" name="mass">
            <br>
            <label for="hera">Herança Genética</label>
            <input type="text" id="hera" name="hera">
            <br>
            <label for="age">Idade</label>
            <input type="text" id="age" name="age"> anos
            <br>
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>